<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--引入属性文件-->
    <context:property-placeholder location="classpath:config.properties"/>
    <!-- 自动扫描dao和service包(自动注入)
     除了具有<context:annotation-config>的功能之外，
     <context:component-scan>还可以在指定的package下扫描以及注册javabean 。

     <context:annotation-config> 是用于激活那些已经在spring容器里注册过的bean
     （无论是通过xml的方式还是通过package sanning的方式）上面的注解。-->
    <context:component-scan base-package="com.jay.ssh.*"/>

</beans>