<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.generator.mapper.ShEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
  <resultMap id="BaseResultMap" type="com.jay.generator.model.ShEmployee">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="joinDate" jdbcType="TIMESTAMP" property="joindate" />
    <result column="eno" jdbcType="VARCHAR" property="eno" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.jay.generator.model.ShEmployee">
    insert into sh_employee (eid, did, ename, 
      sex, birthday, joinDate, 
      eno, username, password
      )
    values (#{eid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, 
      #{eno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jay.generator.model.ShEmployee">
    update sh_employee
    set did = #{did,jdbcType=INTEGER},
      ename = #{ename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      eno = #{eno,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,eid, did, ename, sex, birthday, joinDate, eno, username, 
    password
    from sh_employee
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, did, ename, sex, birthday, joinDate, eno, username, password
    from sh_employee
  </select>
  <select id="countList" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sh_employee
  </select>
  <select id="queryPageList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM sh_employee
    LIMIT  #{current},#{pageSize}
  </select>
</mapper>