<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jay.xiang.mapper.ShopOrderBindInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.jay.xiang.model.ShopOrderBindInvoice" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_dealno" property="cDealno" jdbcType="VARCHAR" />
    <result column="c_fpqqlsh" property="cFpqqlsh" jdbcType="VARCHAR" />
    <result column="c_invoicetype" property="cInvoicetype" jdbcType="CHAR" />
    <result column="c_headname" property="cHeadname" jdbcType="VARCHAR" />
    <result column="c_taxpayernum" property="cTaxpayernum" jdbcType="VARCHAR" />
    <result column="c_companyaddr" property="cCompanyaddr" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR" />
    <result column="c_bankname" property="cBankname" jdbcType="VARCHAR" />
    <result column="c_bankaccount" property="cBankaccount" jdbcType="VARCHAR" />
    <result column="c_mobile" property="cMobile" jdbcType="VARCHAR" />
    <result column="c_invoiceImage" property="cInvoiceimage" jdbcType="VARCHAR" />
    <result column="c_state" property="cState" jdbcType="CHAR" />
    <result column="c_kprq" property="cKprq" jdbcType="TIMESTAMP" />
    <result column="c_fpdm" property="cFpdm" jdbcType="VARCHAR" />
    <result column="c_fphm" property="cFphm" jdbcType="VARCHAR" />
    <result column="c_bhsje" property="cBhsje" jdbcType="DOUBLE" />
    <result column="c_hjse" property="cHjse" jdbcType="DOUBLE" />
    <result column="c_redInvoiceImage" property="cRedinvoiceimage" jdbcType="VARCHAR" />
    <result column="c_kptype" property="cKptype" jdbcType="CHAR" />
    <result column="c_msg" property="cMsg" jdbcType="VARCHAR" />
    <result column="c_crmsync" property="cCrmsync" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_dealno, c_fpqqlsh, c_invoicetype, c_headname, c_taxpayernum, c_companyaddr, 
    c_phone, c_bankname, c_bankaccount, c_mobile, c_invoiceImage, c_state, c_kprq, c_fpdm, 
    c_fphm, c_bhsje, c_hjse, c_redInvoiceImage, c_kptype, c_msg, c_crmsync
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from shop_order_bind_invoice
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.jay.xiang.model.ShopOrderBindInvoice" >
    insert into shop_order_bind_invoice (c_id, c_dealno, c_fpqqlsh, 
      c_invoicetype, c_headname, c_taxpayernum, 
      c_companyaddr, c_phone, c_bankname, 
      c_bankaccount, c_mobile, c_invoiceImage, 
      c_state, c_kprq, c_fpdm, 
      c_fphm, c_bhsje, c_hjse, 
      c_redInvoiceImage, c_kptype, c_msg, 
      c_crmsync)
    values (#{cId,jdbcType=VARCHAR}, #{cDealno,jdbcType=VARCHAR}, #{cFpqqlsh,jdbcType=VARCHAR}, 
      #{cInvoicetype,jdbcType=CHAR}, #{cHeadname,jdbcType=VARCHAR}, #{cTaxpayernum,jdbcType=VARCHAR}, 
      #{cCompanyaddr,jdbcType=VARCHAR}, #{cPhone,jdbcType=VARCHAR}, #{cBankname,jdbcType=VARCHAR}, 
      #{cBankaccount,jdbcType=VARCHAR}, #{cMobile,jdbcType=VARCHAR}, #{cInvoiceimage,jdbcType=VARCHAR}, 
      #{cState,jdbcType=CHAR}, #{cKprq,jdbcType=TIMESTAMP}, #{cFpdm,jdbcType=VARCHAR}, 
      #{cFphm,jdbcType=VARCHAR}, #{cBhsje,jdbcType=DOUBLE}, #{cHjse,jdbcType=DOUBLE}, 
      #{cRedinvoiceimage,jdbcType=VARCHAR}, #{cKptype,jdbcType=CHAR}, #{cMsg,jdbcType=VARCHAR}, 
      #{cCrmsync,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jay.xiang.model.ShopOrderBindInvoice" >
    insert into shop_order_bind_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cDealno != null" >
        c_dealno,
      </if>
      <if test="cFpqqlsh != null" >
        c_fpqqlsh,
      </if>
      <if test="cInvoicetype != null" >
        c_invoicetype,
      </if>
      <if test="cHeadname != null" >
        c_headname,
      </if>
      <if test="cTaxpayernum != null" >
        c_taxpayernum,
      </if>
      <if test="cCompanyaddr != null" >
        c_companyaddr,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cBankname != null" >
        c_bankname,
      </if>
      <if test="cBankaccount != null" >
        c_bankaccount,
      </if>
      <if test="cMobile != null" >
        c_mobile,
      </if>
      <if test="cInvoiceimage != null" >
        c_invoiceImage,
      </if>
      <if test="cState != null" >
        c_state,
      </if>
      <if test="cKprq != null" >
        c_kprq,
      </if>
      <if test="cFpdm != null" >
        c_fpdm,
      </if>
      <if test="cFphm != null" >
        c_fphm,
      </if>
      <if test="cBhsje != null" >
        c_bhsje,
      </if>
      <if test="cHjse != null" >
        c_hjse,
      </if>
      <if test="cRedinvoiceimage != null" >
        c_redInvoiceImage,
      </if>
      <if test="cKptype != null" >
        c_kptype,
      </if>
      <if test="cMsg != null" >
        c_msg,
      </if>
      <if test="cCrmsync != null" >
        c_crmsync,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cDealno != null" >
        #{cDealno,jdbcType=VARCHAR},
      </if>
      <if test="cFpqqlsh != null" >
        #{cFpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="cInvoicetype != null" >
        #{cInvoicetype,jdbcType=CHAR},
      </if>
      <if test="cHeadname != null" >
        #{cHeadname,jdbcType=VARCHAR},
      </if>
      <if test="cTaxpayernum != null" >
        #{cTaxpayernum,jdbcType=VARCHAR},
      </if>
      <if test="cCompanyaddr != null" >
        #{cCompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cBankname != null" >
        #{cBankname,jdbcType=VARCHAR},
      </if>
      <if test="cBankaccount != null" >
        #{cBankaccount,jdbcType=VARCHAR},
      </if>
      <if test="cMobile != null" >
        #{cMobile,jdbcType=VARCHAR},
      </if>
      <if test="cInvoiceimage != null" >
        #{cInvoiceimage,jdbcType=VARCHAR},
      </if>
      <if test="cState != null" >
        #{cState,jdbcType=CHAR},
      </if>
      <if test="cKprq != null" >
        #{cKprq,jdbcType=TIMESTAMP},
      </if>
      <if test="cFpdm != null" >
        #{cFpdm,jdbcType=VARCHAR},
      </if>
      <if test="cFphm != null" >
        #{cFphm,jdbcType=VARCHAR},
      </if>
      <if test="cBhsje != null" >
        #{cBhsje,jdbcType=DOUBLE},
      </if>
      <if test="cHjse != null" >
        #{cHjse,jdbcType=DOUBLE},
      </if>
      <if test="cRedinvoiceimage != null" >
        #{cRedinvoiceimage,jdbcType=VARCHAR},
      </if>
      <if test="cKptype != null" >
        #{cKptype,jdbcType=CHAR},
      </if>
      <if test="cMsg != null" >
        #{cMsg,jdbcType=VARCHAR},
      </if>
      <if test="cCrmsync != null" >
        #{cCrmsync,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jay.xiang.model.ShopOrderBindInvoice" >
    update shop_order_bind_invoice
    <set >
      <if test="cDealno != null" >
        c_dealno = #{cDealno,jdbcType=VARCHAR},
      </if>
      <if test="cFpqqlsh != null" >
        c_fpqqlsh = #{cFpqqlsh,jdbcType=VARCHAR},
      </if>
      <if test="cInvoicetype != null" >
        c_invoicetype = #{cInvoicetype,jdbcType=CHAR},
      </if>
      <if test="cHeadname != null" >
        c_headname = #{cHeadname,jdbcType=VARCHAR},
      </if>
      <if test="cTaxpayernum != null" >
        c_taxpayernum = #{cTaxpayernum,jdbcType=VARCHAR},
      </if>
      <if test="cCompanyaddr != null" >
        c_companyaddr = #{cCompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cBankname != null" >
        c_bankname = #{cBankname,jdbcType=VARCHAR},
      </if>
      <if test="cBankaccount != null" >
        c_bankaccount = #{cBankaccount,jdbcType=VARCHAR},
      </if>
      <if test="cMobile != null" >
        c_mobile = #{cMobile,jdbcType=VARCHAR},
      </if>
      <if test="cInvoiceimage != null" >
        c_invoiceImage = #{cInvoiceimage,jdbcType=VARCHAR},
      </if>
      <if test="cState != null" >
        c_state = #{cState,jdbcType=CHAR},
      </if>
      <if test="cKprq != null" >
        c_kprq = #{cKprq,jdbcType=TIMESTAMP},
      </if>
      <if test="cFpdm != null" >
        c_fpdm = #{cFpdm,jdbcType=VARCHAR},
      </if>
      <if test="cFphm != null" >
        c_fphm = #{cFphm,jdbcType=VARCHAR},
      </if>
      <if test="cBhsje != null" >
        c_bhsje = #{cBhsje,jdbcType=DOUBLE},
      </if>
      <if test="cHjse != null" >
        c_hjse = #{cHjse,jdbcType=DOUBLE},
      </if>
      <if test="cRedinvoiceimage != null" >
        c_redInvoiceImage = #{cRedinvoiceimage,jdbcType=VARCHAR},
      </if>
      <if test="cKptype != null" >
        c_kptype = #{cKptype,jdbcType=CHAR},
      </if>
      <if test="cMsg != null" >
        c_msg = #{cMsg,jdbcType=VARCHAR},
      </if>
      <if test="cCrmsync != null" >
        c_crmsync = #{cCrmsync,jdbcType=CHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jay.xiang.model.ShopOrderBindInvoice" >
    update shop_order_bind_invoice
    set c_dealno = #{cDealno,jdbcType=VARCHAR},
      c_fpqqlsh = #{cFpqqlsh,jdbcType=VARCHAR},
      c_invoicetype = #{cInvoicetype,jdbcType=CHAR},
      c_headname = #{cHeadname,jdbcType=VARCHAR},
      c_taxpayernum = #{cTaxpayernum,jdbcType=VARCHAR},
      c_companyaddr = #{cCompanyaddr,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_bankname = #{cBankname,jdbcType=VARCHAR},
      c_bankaccount = #{cBankaccount,jdbcType=VARCHAR},
      c_mobile = #{cMobile,jdbcType=VARCHAR},
      c_invoiceImage = #{cInvoiceimage,jdbcType=VARCHAR},
      c_state = #{cState,jdbcType=CHAR},
      c_kprq = #{cKprq,jdbcType=TIMESTAMP},
      c_fpdm = #{cFpdm,jdbcType=VARCHAR},
      c_fphm = #{cFphm,jdbcType=VARCHAR},
      c_bhsje = #{cBhsje,jdbcType=DOUBLE},
      c_hjse = #{cHjse,jdbcType=DOUBLE},
      c_redInvoiceImage = #{cRedinvoiceimage,jdbcType=VARCHAR},
      c_kptype = #{cKptype,jdbcType=CHAR},
      c_msg = #{cMsg,jdbcType=VARCHAR},
      c_crmsync = #{cCrmsync,jdbcType=CHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>